<h3>About</h3>

<p> Demo realizada para aprender y testar como realizar una app con Rails + Devise + ember. </p>
<p> Utiliza <strong>Ember-Auth</strong> para toda la lógica de la autentificación. </p>