<table class="table">
  <thead>
  <tr>
    <th>nombre</th>
    <th>email</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  {{#each content}}
      <tr>
       <td>{{ name }}</td>
       <td>{{ email }}</td>
       <td>{{#linkTo "users.show" this}} <button class="btn btn-primary">Ver</button> {{/linkTo}}</td>
      </tr>
  {{/each}}

<!--{{ view App.LinkUserView contentBinding="this" }}-->
